
/*
    Theme Name: Sanitred Custom Genesis Child Theme
    Description: This is a custom theme built from the Genesis Sandbox by Jonathan Perez and Travis Smith (wpsmith.net) of http://www.surefirewebservices.com/
    Author: Tim Brennan
    Author URI: http://neowebsolutions.com
	 
    Version: 1.0
 
    Template: genesis
    Template Version: 1.0
 
    License: GPL-2.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php 
*/
/* Table of Contents

    01 Import Fonts
    02 Base Styles 
        Defaults
        Wraps
        Containers and Columns
        Entry Content Structure
        Headings and Titles
  -- Layout --  
    03 Header
    04 Navigation
       Primary Navigation Extras
       Pagination
    05 Meta and Comments
        Post Info and Meta
        Comments
    06 Post Content Styles
        Block Quotes
        Lists
    07 SideBar
    08 SideBar Alt
    09 Footer
        Footer Widgets
        Footer Navigation
  -- Modules --
    10 Forms and Buttons
    11 Images and Captions
    12 Author Box / Bread Crumbs / Sticky
    13 Widgets/Plugins
        eNews
        Gravity Forms
	14 Import Styles from X Theme
*/
/*
01 Import Fonts
---------------------------------------------------------------------------------------------------- */
@import url("//fonts.googleapis.com/css?family=Lato:400,400italic,400,900,400,700,700italic");

font-face{
	font-family:'fontawesome';
	src:url("/font/font_awesome/font-awesome.eot?v=4.0.3");
	src:url("/font/font_awesome/font-awesome.eot?#iefix&v=4.0.3") format("embedded-opentype"),url("/font/font_awesome/font-awesome.woff?v=4.0.3") format("woff"),url("/font/font_awesome/font-awesome.ttf?v=4.0.3") format("truetype"),url("/font/font_awesome/font-awesome.svg?#fontawesome&v=4.0.3") format("svg");
	font-weight:normal;
	font-style:normal;
	}

@font-face{
	font-family:'foundationsocial';
	src:url("/font/foundation_social/foundation-social.eot?v=1.0");
	src:url("/font/foundation_social/foundation-social.eot?#iefix&v=1.0") format("embedded-opentype"),url("/font/foundation_social/foundation-social.woff?v=1.0") format("woff"),url("/font/foundation_social/foundation-social.ttf?v=1.0") format("truetype"),url("/font/foundation_social/foundation-social.svg?#foundationsocial&v=1.0") format("svg");
	font-weight:normal;
	font-style:normal;
}

/*
02 Base Styles
---------------------------------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address,
big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, input, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* Clearfix */
.site-inner:after,
.home-middle:after,
.site-header:after,
.nav-primary:after,
.nav-secondary:after,
.wrap:after,
.footer-widgets:after,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

html {
  font-size: 62.5%;
}

body {
	margin: 0px;
	overflow-x: hidden;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.7;
	color: #7A7A7A;
	background: none repeat scroll 0% 0% #f3f3f3;
}

p.pages,
.clear,
.clear-line {
  clear: both;
}

.clear-line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

a,
a:visited,
button,
input[type="button"],
input[type="submit"] {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

::-moz-selection {
  background-color: #000d11;
  color: white;
}

::selection {
  background-color: #000d11;
  color: white;
}

a {
  color: #3e6b85;
  text-decoration: none;
}
a:hover {
  color: #2b4a5d;
}

a img {
  border: none;
}

/* Wraps */
.site-container {
  width: 100%;
}

.wrap {
  margin: 0 auto;
  max-width: 1152px;
}

.site-inner {
  overflow: hidden;
  *zoom: 1;
  /* padding-top: 20px;
  padding-top: 2rem; */
}

/* Containers and Columns */
.content-sidebar-sidebar .sidebar-secondary,
.sidebar-content .content,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content,
.sidebar-sidebar-content .content-sidebar-wrap,
.site-footer .creds,
.site-header .widget-area,
.sidebar-content-sidebar .sidebar-primary {
  float: right;
}

.five-sixths,
.content-sidebar-sidebar .sidebar-primary,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds,
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary,
.content-sidebar-sidebar .content,
.site-footer .gototop,
.sidebar-secondary,
.title-area,
.archive-page,
.content-sidebar .content,
.content-sidebar .sidebar-primary,
.sidebar-content-sidebar .sidebar-secondary,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left;
  margin-left: 4.16667%;
  /* 48px / 1152px */
}

.one-half,
.three-sixths,
.two-fourths,
.content-sidebar-sidebar .content,
.archive-page {
  width: 47.91667%;
  /* 552px / 1152px */
}

.one-third,
.two-sixths,
.content-sidebar .sidebar-primary,
.sidebar-content .sidebar-primary,
.content-sidebar-sidebar .sidebar-primary,
.sidebar-content-sidebar .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary,
.title-area {
  width: 30.55556%;
  /* 352px / 1152px */
}

.four-sixths,
.two-thirds,
.content-sidebar .content,
.sidebar-content .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content,
.site-header .widget-area {
  width: 65.27778%;
  /* 752px / 1152px */
}

.one-fourth {
  width: 21.875%;
  /* 252px / 1152px */
}

.three-fourths {
  width: 73.95833%;
  /* 852px / 1152px */
}

.one-fifth {
  width: 16.66667%;
  /* 192px / 1152px */
}

.two-fifths {
  width: 37.5%;
  /* 432px / 1152px */
}

.three-fifths {
  width: 58.33333%;
  /* 672px / 1152px */
}

.four-fifths {
  width: 79.16667%;
  /* 912px / 1152px */
}

.one-sixth,
.sidebar-secondary {
  width: 13.19444%;
  /* 152px / 1152px */
}

.five-sixths,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 82.63889%;
  /* 952px / 1152px */
}

.first,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .sidebar-secondary,
.sidebar-sidebar-content .sidebar-secondary,
.title-area,
.content-sidebar .content,
.sidebar-content .sidebar-primary,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .sidebar-primary {
  margin-left: 0;
  clear: both;
}

.sidebar-content .sidebar-primary,
.sidebar-content-sidebar .sidebar-secondary,
.sidebar-sidebar-content .sidebar-secondary,
.sidebar-sidebar-content .sidebar-primary {
  clear: none;
}

.archive-page {
  margin-left: 0;
}

/* Entry Content Structure */
.content {
  padding-bottom: 40px;
  padding-bottom: 4rem;
}

.entry,
.page .post.entry {
  margin-bottom: 80px;
  margin-bottom: 8rem;
}

.single .entry {
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
}

.page .entry {
  margin: 0;
}

.entry-content {
  overflow: hidden;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a,
.site-title {
  line-height: 1.2;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  font-family: Arimo, Varela, sans-serif;
  font-weight: 700;
}

h1,
.entry-title,
.entry-title a,
.site-title {
  font-size: 32px;
  font-size: 3.2rem;
}

/* Title Class for SEO / No Overuse of H Tags */
.title,
h2 {
  font-size: 28px;
  font-size: 2.8rem;
}

h2 a,
h2 a:visited {
  color: #3b3d42;
}
h2 a:hover,
h2 a:visited:hover {
  color: #2b4a5d;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
}

h4,
.archive-title,
.taxonomy-description h1,
.widgettitle {
  font-size: 150%;
  font-family: "Lato", "HElvetica Neue", Helvatica, Arimo, Varela, sans-serif;
  font-weight: 900;
  text-rendering: optimizelegibility;
  letter-spacing: -1px;
}

h4.widgettitle a {
  color: #3e6b85;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

h6,
.author-box h1,
.sidebar h2 a {
  font-size: 14px;
  font-size: 1.4rem;
}

.author-box h1 {
  margin: 0;
  line-height: 1.5;
}

.taxonomy-description h1 {
  margin-bottom: 4px;
  margin-bottom: 0.4rem;
}

.archive-title {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

/*********************************************************************************************

            LAYOUT

**********************************************************************************************/
/*
03 Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  /* min-height: 120px;
  overflow: hidden;
  padding-bottom: 32px;
  padding-bottom: 3.2rem; */
  display: none;
}

.site-title {
  margin: 40px 0 8px;
  margin: 4rem 0 0.8rem;
  font-size: 48px;
  font-size: 4.8rem;
  font-family: Arimo, Varela, sans-serif;
  font-weight: 700;
}
.site-title a {
  color: #3b3d42;
}
.site-title a:hover {
  color: #3e6b85;
}

.header-image .site-title {
  margin: 0;
}

.site-description {
  line-height: 1.25;
  color: #3b3d42;
}

.header-full-width .site-title,
.header-full-width .site-title a,
.header-full-width .title-area {
  width: 100%;
}

.header-image .site-title,
.header-image .site-title a,
.header-image .title-area {
  display: block;
  float: left;
  min-height: 120px;
  overflow: hidden;
  width: 50%;
}

.header-image .site-description {
  display: none;
}

.site-header .search-form {
  float: right;
  margin-top: 56px;
  margin-top: 5.6rem;
  width: 100%;
}

/*
04 Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu {
  clear: both;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  width: 100%;
  min-width: 200px;
}
.genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left;
}
.genesis-nav-menu .menu-item a:only-child:after {
  	content: "";
	letter-spacing: 0;
	font-family: "fontawesome" !important;
	font-style: normal !important;
	font-weight: normal !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
.nav-primary .genesis-nav-menu>li>a:hover {
    text-decoration: none;
    color: #272727;
    background-color: transparent;
    -webkit-box-shadow: inset 0 4px 0 0 #ff2a13;
    box-shadow: inset 0 4px 0 0 #ff2a13;
}
.genesis-nav-menu a {
  border: none;
  display: block;
  padding: 28px 24px;
  padding: 2.8rem 2.4rem;
  position: relative;
  color: #ff2a13;
  font-size: 15px;
}
.genesis-nav-menu a:hover {
  color: #000d11;
}
.genesis-nav-menu .sub-menu {
    left: -9999px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    /* width: 200px; */
    z-index: 99;
	min-width: 200px;
	font-size: 12px;
	font-size: 1.2rem;
	background-color: #fff;
	border-radius: 4px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.25);
	box-shadow: 0 3px 5px rgba(0,0,0,0.25);
}

.genesis-nav-menu .sub-menu li {
	display: block;
}

.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  /* border: 1px solid #eee; */
  border-top: none;
  /*  font-size: 14px; 
  font-size: 1.4rem; 
  letter-spacing: 0;
  */
  padding: 16px 20px;
  padding: 1.6rem 2rem;
  position: relative;
  min-width: 200px;
}
.genesis-nav-menu .sub-menu .sub-menu {
  margin: -54px 0 0 95%;
  /*margin: -34px 0 0 299px;*/
}
.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item-has-children a::after {
	content: "\f103";
	margin-left: 0.35em;
	letter-spacing: 0;
	font-family: "fontawesome" !important;
	font-style: normal !important;
	font-weight: normal !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}
.genesis-nav-menu > .first > a {
  padding-left: 0;
}
.genesis-nav-menu > .last > a {
  padding-right: 0;
}
.genesis-nav-menu > .right {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding: 28px 0;
  padding: 2.8rem 0;
  text-transform: uppercase;
}
.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}
.genesis-nav-menu > .rss > a {
  margin-left: 48px;
  margin-left: 4.8rem;
}
.genesis-nav-menu > .search {
  padding: 14px 0 0;
  padding: 1.4rem 0 0;
}

/* Site Header Navigation
--------------------------------------------- */
.site-header .genesis-nav-menu a {
  color: #000d11;
}

.site-header .sub-menu {
  border-top: 1px solid #eee;
}
.site-header .sub-menu .sub-menu {
  margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */
.nav-primary {
  background-color: #fff;
  color: #ff2a13;
}

.nav-primary .current-menu-item > a {
	text-decoration: none;
	color: #272727;
	background-color: transparent;
	-webkit-box-shadow: inset 0 4px 0 0 #ff2a13;
	box-shadow: inset 0 4px 0 0 #ff2a13;
	font-size: 15px;	
}

.nav-primary .sub-menu a {
	color: #ff2a13;
	font-size: 15px;
    display: block;
	clear: both;
	padding: 0.5em 1.6em;
	line-height: 1.7;
	white-space: nowrap;
	-webkit-transition: none;
	transition: none;
}

.nav-primary .sub-menu a {
  /* background-color: #3b3d42;  */
  
}
.nav-primary .sub-menu a:hover {
  color: #272727;
}

/* Secondary Navigation
--------------------------------------------- */
.nav-secondary a {
  color: #000d11;
}

.nav-secondary .sub-menu {
  border-top: 1px solid #eee;
}
.nav-secondary .sub-menu .sub-menu {
  margin-top: -55px;
}

/* Mobile Menu */
.genesis-nav-menu.menu-mobile {
  display: none;
}
.genesis-nav-menu.menu-mobile .menu-item {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
}
.genesis-nav-menu.menu-mobile .menu-item:hover {
  position: static;
  display: block;
}
.genesis-nav-menu.menu-mobile .menu-item:hover > .sub-menu {
  font-size: 14px;
  display: block;
}
.genesis-nav-menu.menu-mobile a {
  display: block;
  padding: 24px 20px;
  padding: cr(24) cr(20);
  position: relative;
  color: white;
  font-size: 14px;
}
.genesis-nav-menu.menu-mobile a:hover {
  background-color: #323232;
}
.genesis-nav-menu.menu-mobile .sub-menu {
  left: 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
  z-index: 99;
  display: none;
  background-color: #666666;
}
.genesis-nav-menu.menu-mobile .sub-menu .sub-menu {
  margin: 0 0 0 10px;
}

/*  Primary Navigation Extras */
.genesis-nav-menu li.right {
  float: right;
  padding: 24px 20px;
  padding: 2.4rem 2rem;
  list-style-type: none;
}

.genesis-nav-menu li.right a {
  display: inline;
  padding: 0;
}

.genesis-nav-menu li.search {
  padding: 6px 0 0;
  padding: 0.6rem 0 0;
}

.genesis-nav-menu li.rss a {
  background: url(images/rss.png) no-repeat center left;
  margin-left: 20px;
  margin-left: 2rem;
  padding-left: 20px;
  padding-left: 2rem;
}

.genesis-nav-menu li.twitter a {
  background: url(images/twitter-nav.png) no-repeat center left;
  padding-left: 24px;
  padding-left: 2.4rem;
}

/* Pagination */
.archive-pagination li {
  display: inline;
}

.archive-pagination li a,
.archive-pagination li a:hover,
.archive-pagination li.active a,
.archive-pagination li.disabled {
  background-color: #4c5558;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px;
  padding: 1.2rem;
  color: white;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
  background-color: white;
  color: #000d11;
}

.portfolio-widgetized .archive-pagination {
  clear: both;
}

/*
05 Meta and Comments
---------------------------------------------------------------------------------------------------- */
/* Post Info and Meta */
.entry-meta {
  clear: both;
  line-height: 1.5;
  color: #4c4c4c;
  /*@include rem(font-size, 14px)*/
}

.entry-header .entry-meta {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.entry-footer .entry-meta {
  border-top: 1px solid #ccc;
  padding-top: 24px;
  padding-top: 2.4rem;
}

.entry-meta .entry-comments {
  background: url(images/post-comments.png) no-repeat center left;
  margin-left: 16px;
  margin-left: 1.6rem;
  padding-left: 20px;
  padding-left: 2rem;
  color: #333333;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-time {
  color: #000d11;
}

/* Comments */
.entry-comments,
#respond {
  line-height: 1.5;
  overflow: hidden;
}

.ping-list,
.entry-comments {
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  width: 50%;
}

.commentmetadata,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

.comment-form-comment {
  margin: 12px 0;
  margin: 1.2rem 0;
}

/*label {
	margin-left: 12px;
	@include rem(margin-left, 12);
}*/
.comment-list li,
.ping-list li {
  list-style-type: none;
  margin-top: 24px;
  margin-top: 2.4rem;
  padding: 32px;
  padding: 3.2rem;
  border-radius: 10px;
}

.comment-list li ul li {
  margin-right: -32px;
  margin-right: -3.2rem;
}

.comment-header {
  overflow: hidden;
}

.comment {
  background-color: #f4f4f4;
  border: 1px solid #e5e5e5;
}

.comment-content p {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}

.entry-comments .navigation {
  margin-top: 32px;
  margin-top: 3.2rem;
}

.comment-list li .avatar {
  float: left;
  margin: 0 16px 24px 0;
  margin: 0 1.6rem 2.4rem 0;
  border-radius: 8px;
}

/*
06 Post Content Styles
---------------------------------------------------------------------------------------------------- */
.entry-content p {
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

/* After Post */
.after-post {
  background: #f2f2f2;
  border: 1px solid #d8d8d8;
  padding: 10px;
  padding: 1rem;
  margin-bottom: 50px;
  margin-bottom: 5rem;
}

/* Blockquotes */
blockquote {
  padding: 24px 64px;
  padding: 2.4rem 6.4rem;
}

blockquote::before {
  content: "“";
  display: block;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}

blockquote::before,
blockquote p {
  color: #7f7f7f;
}

blockquote::before {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 58px;
  line-height: 5.8rem;
}

/* Lists */
.entry-content ol,
.entry-content ul {
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
}

.entry-content ol li,
.entry-content ul li {
  line-height: 1.625;
  margin-left: 40px;
  margin-left: 4rem;
}

.entry-content ol li {
  list-style-type: decimal;
}

.entry-content ul li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

/*
07 Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar {
  display: inline;
  line-height: 1.5;
}

.sidebar p {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}

.sidebar .widget {
  /* border-bottom: 1px solid #ccc;
  margin-bottom: 32px;
  margin-bottom: 3.2rem;
  padding-bottom: 32px;
  padding-bottom: 3.2rem;
  overflow: hidden; */
  margin-top: 10px;
}

.sidebar.widget-area ul li {
  list-style-type: none;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
}

/*
08 Sidebar Alt
---------------------------------------------------------------------------------------------------- */
/* SideBar Alt Styles */
/*
09 Footer
---------------------------------------------------------------------------------------------------- */
/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  clear: both;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.site-footer .wrap {
  overflow: hidden;
  padding: 10px 0;
}

.site-footer p {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
}

.site-footer p a {color: #ff2a13;}

.site-footer .x-column {
	text-align: center;
	margin-left: 0;
}

.site-footer .x-column p {
	font-weight: 700;
	color: #000;
}

/* Footer Widgets */
.footer-widgets {
  border-top: 1px solid #ccc;
  clear: both;
  line-height: 1.5;
  overflow: hidden;
  padding: 32px 0 56px;
  padding: 3.2rem 0 5.6rem;
  background-color: #f2f2f2;
  background-color: #fff;
  color: #000;
}
.footer-widgets p {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}
.footer-widgets .widget {
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
}
.footer-widgets .widget-area ul li {
  list-style-type: none;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
}

.footer-widgets .wrap > div {
  display: table-cell;
}

/* Footer Navigation */
.site-footer #footer-nav .wrap {
  border: none;
  padding: 0;
}

.site-footer ul.menu-footer {
  font-size: 13px;
  font-weight: normal;
}

.site-footer ul.menu-footer a {
  padding: 0rem .75rem;
}
ul#menu-footer {
	margin: 10px 0 0 10px;
	line-height: 1.3;
	text-align: center;
}

ul#menu-footer li {
	margin: 0 0.5em;
	display: inline-block;
}

ul#menu-footer li a{
	display: block;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #ff2a13;
	transition: color 0.3s ease,background-color 0.3s ease,border-color 0.3s ease,box-shadow 0.3s ease;
	text-decoration: none;
}


/*********************************************************************************************

            MODULES

**********************************************************************************************/
/*
10 Forms and Buttons
---------------------------------------------------------------------------------------------------- */
input,
select,
textarea {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 5px #ddd inset;
  padding: 16px;
  padding: 1.6rem;
  width: 100%;
  color: #7f7f7f;
}

button,
input[type="button"],
input[type="submit"],
.btn {
  background-color: #4c5558;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 16px 24px;
  padding: 1.6rem 2.4rem;
  width: auto;
  color: #fff;
  font-size: inherit;
}

button:hover,
input:hover[type="button"],
input:hover[type="submit"],
.btn:hover {
  background-color: #2b4a5d;
}

/*
11 Images and Captions
---------------------------------------------------------------------------------------------------- */
embed,
img,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
}

.alignleft .avatar {
  margin-right: 24px;
  margin-right: 2.4rem;
}

.alignright .avatar {
  margin-left: 24px;
  margin-left: 2.4rem;
}

.author-box .avatar {
  float: left;
  margin-right: 24px;
  margin-right: 2.4rem;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
  margin: 0 auto 2.4rem;
}

img.alignnone {
  display: inline;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

img.alignleft,
.post-image,
.wp-caption.alignleft {
  display: inline;
  margin: 0 24px 24px 0;
  margin: 0 2.4rem 2.4rem 0;
}

img.alignright,
.wp-caption.alignright {
  display: inline;
  margin: 0 0 24px 24px;
  margin: 0 0 2.4rem 2.4rem;
}

p.wp-caption-text {
  line-height: 1.2;
  margin-top: 12px;
  margin-top: 1.2rem;
}

.wp-caption {
  text-align: center;
}

/*
12 Author Box / Bread Crumbs / Sticky
---------------------------------------------------------------------------------------------------- */
.author-box,
.sticky {
  margin-bottom: 80px;
  margin-bottom: 8rem;
}

.author-box,
.taxonomy-description {
  line-height: 1.5;
}

.author-box,
.sticky,
.taxonomy-description {
  background-color: #f5f5f5;
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
  overflow: hidden;
  padding: 32px;
  padding: 3.2rem;
}

.breadcrumb {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 10px;
  padding: 1rem;
}

/*
13 Widgets/Plugins
---------------------------------------------------------------------------------------------------- */
/* eNews */
.enews input[type="submit"],
.search-form input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Gravity Forms */
.content div.gform_wrapper input,
.content div.gform_wrapper select,
.content div.gform_wrapper textarea,
.content div.gform_wrapper .ginput_complex label {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 16px;
  padding: 1.6rem;
}

.content div.gform_wrapper input[type="submit"] {
  padding: 16px 24px;
  padding: 1.6rem 2.4rem;
}

.content div.gform_wrapper .ginput_complex label {
  padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
  margin: 16px 0 0;
  margin: 1.6rem 0 0;
}

/* 14 Import Styles from X Theme
---------------------------------------------------------------------------------------------------- */
.x-topbar {
	position: relative;
	min-height: 46px;
	border-bottom: 1px solid #F2F2F2;
	background-color: #eee;
	z-index: 1031;
	padding-top: 10px;
	text-align: center;
}
.x-topbar-inner {
	width: 1160px; 
	margin: auto;
}

.x-topbar:after {
    clear: both;
}
.x-topbar:before, .x-topbar:after {
    display: table;
    content: "";
}

.x-topbar .x-social-global {
	float: left;
	height: 40px;
}

.x-topbar .x-social-global {
	float: right;
	width: 50%;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	padding-top: -5px;
	text-align: left;
}

[class^="x-social-"], [class*=" x-social-"] {
	font-family: "foundationsocial";
	speak: none;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

.x-social-global-footer {
	font-weight: 400;
	line-height: 1;
	text-align: center;
	margin-bottom: 30px;
}
.x-social-global-footer a {
	margin-left: 7px;
	margin: 0 1.25%;
	font-size: 21px;
	font-size: 2.1rem;	
	margin-left: 20px;
	color: #ff2a13;
	margin-right: 20px;
}

.x-topbar .p-info {
	float: right;
	width: 48%;
	color: #000000;
	font-size: 20px;
}

.x-topbar .x-social-global a {
	margin-left: 7px;
	font-size: 24px;
	font-size: 2.4rem;
	color: #ff2a13;
	text-align: center;
}

.x-topbar .p-info a {
	border-bottom: 0px dotted;
}

.x-topbar .p-info a, .x-navbar .x-nav > li > a, .x-nav-collapse .sub-menu a, .x-breadcrumb-wrap a, .x-breadcrumbs .delimiter {
	color: #ff2a13;
	font-size: 15px;
}

.x-topbar .x-social-global a i {
	
}

.x-social-global a i {
	
}

.x-logobar {
	border-bottom: 1px solid #f2f2f2;
	background: white;
	padding: 10px 0;
}
.x-logobar-inner {
	text-align: center;
}
a [class^="x-icon-"], a [class*=" x-icon-"] {
	display: inline-block;
}

[class^="x-icon-"], [class*=" x-icon-"] {
	display: inline-block;
	font-family: "fontawesome";
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	speak: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.x-icon-facebook-square:before {
content: "\f082";
}
.x-icon-twitter-square:before {
content: "\f081";
}
.x-icon-google-plus-square:before {
content: "\f0d4";
}
.x-icon-youtube-square:before {
content: "\f166";
}
.x-icon-pinterest-square:before {
content: "\f0d3";
}

.x-icon-angle-right:before {
content: "\f105";
}

.x-icon-check:before {
content: "\f00c";
}
.x-breadcrumb-wrap {
	margin: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 1.05em 0;
	font-size: 10px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.4;
	text-shadow: 0 1px 0 rgba(255,255,255,0.55);
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.0225);
	-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.715);
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.715);
	border-top: 1px solid rgba(0,0,0,0.1);
	
}
.x-breadcrumb-wrap .x-container-fluid {width: 1160px; margin: auto;}

.x-breadcrumb-wrap .delimiter {
	color: #ff2a13;
	font-size: 15px;
	margin: 0 0.25em 0 0.45em;
}

.x-icon-home:before {
	content: "\f015";
}

/* Sidebar */
blockquote {
	margin: 1.313em 0;
	border: 1px solid #f2f2f2;
	border-left: 0;
	border-right: 0;
	padding: 1em 0;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 171.4%;
	font-weight: 400;
	line-height: 1.3;
	color: #272727;
}

/* Content */
.entry-content {
	display: block;
	padding: 60px;
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
	padding: 15px 60px;
}
.entry-content p {
	color: black;
	margin: 0 0 1.313em;
	font-size: 14px;
}
.entry-content li {
	color: black;
	font-size: 14px;
}
.entry-header {
	/* padding: 15px 60px; */
}
.entry-title {
	margin: 0;
	font-size: 250%;
	line-height: 1.05;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-style: normal;
	font-weight: 900;
	letter-spacing: -1px;
	margin: 1.25em 0 0.2em;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-rendering: optimizelegibility;
	color: #272727;
}

.x-slider-revolution-container.below {
border-bottom: 5px solid #ff2a13;
}

.home-middle {
	display: block;
	padding: 60px;
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
	padding: 15px 60px;
}

.x-li-icon {
	line-height: 1.7;
}

.x-ul-icons {
	margin-left: 1.425em;
	list-style: none;
	text-indent: -0.85em;
}

.x-column.one-third {
	width: 28%!important;
	margin-left: 20px;
}

.x-promo-content h4 a{
	color: #ff2a13;
	}

.x-promo-content h4 {
	font-style: normal;
	font-weight: 900;
	letter-spacing: -1px;
	margin: 0.25em 0 0.2em;
	font-size: 171.4%;
}

.x-promo-content p {
	color: black;
}


/**
	Primary Navigation
*************************/

